.files-page {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* === SIDEBAR === */
.files-page .event-sidebar {
  background-color: #b2d4eb;
  width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.files-page .sidebar-user {
  text-align: center;
  margin-bottom: 30px;
}

.files-page .user-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.files-page .sidebar-links {
  width: 100%;
}

.files-page .sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.files-page .sidebar-link:hover {
  background-color: #cbe4f6;
  border-radius: 10px;
}

.files-page .sidebar-link img {
  width: 20px;
  height: 20px;
}

.sidebar-img {
  width: 52px;
  height: 52px;
  object-fit: contain;
  display: block;
}

/* Title */
.files-title {
  text-align: center;
  margin: 30px 0 20px;
  font-size: 32px;
}

/* FIles container */
.files-container {
  background-color: #1c1c3d;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 90%;
  height: 80vh;
  overflow-y: auto;
}

.file-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.create-folder, .upload {
  background-color: #98C1D9;
  border: none;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  
}

.folder-input {
  display: flex;
  align-items: center;
  gap:10px;
  margin-bottom: 15px;
}

.folder-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.folder-input button {
  background-color: #5a6ee1;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.file-grid {
  /* display: flex;
  gap: 20px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
}

.folder,
.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  
}

.folder-icon,
.file-icon {
  font-size: 50px;
  color: #ff5c5c
}